
      </section>
      

      <section id="formArea"> 
        <form action="action_page.php">
          <section id="objContainer">
            You buy an item which might help you solve this question: <br><br>
            Make an offer : <input class="inpStyle" type="text" name="name">
            <input class="conStyle" type="submit" value="Confirm"><br><br><br><br>
            
            You can choose only one : <br><br>

            <table id="keywords" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th><span>Name</span></th>
                  <th><span>Price</span></th>
                  
                </tr>
              </thead>
              <tbody>
                {{#each details}}
                  <tr>
                    <td class="lalign"><a role="button" class="cbp-vm-icon cbp-vm-add" target="_blank" onclick="myFunction('{{path}}', {{value}})">{{name}}</a></td>
                    <td>{{value}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </section>  
        </form>   
      </section>

    </section>  
  </section>  
</body>
</html>

<script>
var lastScore;
          
        window.onload = function() {
          if (typeof(Storage) != "undefined") {
                // Store
                //localStorage.setItem("wallet", {{details.1.starting_wallet}});
                // Retrieve
                if (sessionStorage.getItem("wallet") === null) {
                    sessionStorage.setItem("wallet", {{details.1.starting_wallet}});
                }
               

                document.getElementById("wallet").innerHTML = sessionStorage.getItem("wallet");
            } else {
                document.getElementById("wallet").innerHTML = "Sorry, your browser does not support Web Storage...";
            }
          try {
            var id = document.getElementsByClassName("sg-type-script")[0].innerText;
            document.getElementsByClassName("sg-type-script")[0].style.visibility = "hidden";
            var score = document.getElementsByClassName("sg-question-options")[0].innerText;
            var numberPattern = /\d+/g;
            score = score.match(numberPattern);
            document.getElementById("score").innerHTML += score;
            
          } 
          catch(err) {
            var score = document.getElementsByClassName("sg-question-options")[0].innerText;
            document.getElementsByClassName("sg-question-options")[0].style.visibility = "hidden";
            var numberPattern = /\d+/g;
            score = score.match(numberPattern);
            if (score) {
              lastScore = score;
            }
            document.getElementById("score").innerHTML = lastScore;
          }
        };

        function myFunction(path, price) {
    
          if (confirm("Do you want to make a purchase?") == true) {
              window.open(path, '_blank');
              sessionStorage.setItem("wallet", sessionStorage.getItem("wallet") - price);
              document.getElementById("wallet").innerHTML = sessionStorage.getItem("wallet");
              console.log(sessionStorage.getItem("wallet"));

          } else {
              
          }
    
        }
</script>
