
<link rel="stylesheet" href="includes/styleExperiments.css">

<section id="main"> 
	
	<section id="toolBar">
		
		<article id="view"> = </article>
		<a href="/NewExperiment"> <article id="new"> + </article> </a>
		<article id="del"> # </article>
		
	</section>
	<section class="mybreadCrums">
		<div class="rcrumbs" id="breadcrumbs">
	        <ul>
	            <li><a href="/">Home</a><span class="divider">></span></li>
	            <li>Experiments</li>
	          
	        </ul>
	    </div>
	</section>

	<section id="itemsTable">
		<table id="keywords" cellspacing="0" cellpadding="0">
		    <thead>
		      <tr>
		        <th><span>Name</span></th>
		        <th><span>Last modified</span></th>
		        <th><span>Description</span></th>
		        <th><span>Active</span></th>
		        <th><span>Edit</span></th>
		      </tr>
		    </thead>
		    <tbody>
		      {{#each items}}
			      <tr>
			        <td class="lalign">{{experiment_name}}</td>
			        <td>{{last_modified}}</td>
			        <td>{{experiment_desc}}</td>
			        <td>{{active}}</td>
			        <td>
			        	<a class="cbp-vm-icon cbp-vm-add" href="/ModifyExperiment:{{experiment_id}}">Edit</a>
			        	<a class="cbp-vm-icon cbp-vm-add" href="/DeleteExperiment:{{experiment_id}}">Del</a>
			        </td>
			      </tr>
		      {{/each}} 
		    </tbody>
	  	</table>
	</section>
</section>


