<script type="text/javascript">

{{#items}}
function goSimulations() {
	document.getElementById("simTab").style.background = "#524567";
	document.getElementById("detailTab").style.background = "#231e2b";
	document.getElementById("leftSideF").style.display = "none";
	document.getElementById("rightSideF").style.display = "none";
	document.getElementById("FlipSide").style.display = "inline-block";	}

	function goForm() {
		document.getElementById("detailTab").style.background = "#524567";
		document.getElementById("simTab").style.background = "#231e2b";
		document.	getElementById("leftSideF").style.display = "inline-block";
		document.	getElementById("rightSideF").style.display = "inline-block";
		document.getElementById("FlipSide").style.display = "none";  }
		

function createLink(){
	var link = "http://localhost:5000/experimentWelcomePage?exp_id="+{{experiment_id}}+"&iteration_id=";
	var token = randomString();
	link += token;
	console.log(link);
	document.getElementById("shareLink").style.width = "100%";
	document.getElementById("shareLink").style.fontSize="110%";
	document.getElementById("shareLink").value= link;
	document.getElementById("share_token").value= token;
	document.getElementById("share_link").value = link;
	document.getElementById("shareLink").disabled=true;
}

function randomString() {
	var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
	var string_length = 8;
	var randomstring = '';
	for (var i=0; i<string_length; i++) {
		var rnum = Math.floor(Math.random() * chars.length);
		randomstring += chars.substring(rnum,rnum+1);
	}
	return randomstring;
}
</script>
		<link rel="stylesheet" href="includes/styleExperiments.css">

		<section id="main"> 

			<section id="toolBar">
				<article id="view"> = </article>
				<article id="new"> + </article> 
				<article id="del"> # </article>	
			</section>
			<section class="mybreadCrums">
				<div class="rcrumbs" id="breadcrumbs">
					<ul>
						<li><a href="/">Home</a><span class="divider">></span></li>
						<li><a href="/Experiments">Experiments</a><span class="divider">></span></li>
						<li>Modify {{experiment_name}}</li>

					</ul>
				</div>
			</section>

			<!--INSERT INTO `flexiprice`.`experiments` (`user_id`, `category_id`, `experiment_name`, `experiment_desc`, `creation_date`, `last_modified`, `survey_link`, `show_prices`, `open_negotiation`, `use_min_price`, `private`, `active`) -->

			<section id="formArea"> 
				<article id="detailTab" onclick=goForm()>  Details </article>
				<article id="simTab" onclick=goSimulations()>  Simulations </article>
				
				<script type="text/javascript">
				$(document).ready(function() {
					if("{{show_prices}}" === "on")
					{
						document.getElementById("PriceOnOffSwitch").checked = true;
					}

					if("{{open_negotiation}}" === "on")
					{
						document.getElementById("BidOnOffSwitch").checked = true;
					}

					if("{{use_min_price}}" === "on")
					{
						document.getElementById("MinPriceOnOffSwitch").checked = true;
					}

					if("{{private}}" === "on")
					{
						document.getElementById("PrivateOnOffSwitch").checked = true;
					}

					document.getElementById("Categories").value = "{{category_id}}";
				});
				</script>
				<form action="/SubmitModifiedExperiment:{{experiment_id}}" method="post">
					<fieldset>
						<legend>{{experiment_name}}</legend>
						<section id="leftSideF">

							Experiment Name :<br>
							<input class="inpStyle" type="text" name="name" value="{{experiment_name}}" > <br><br>

							<p class = "textToRight"> Running since: {{creation_date}} </p> <br><br>

							Experiment Description :<br>
							<textarea class="msgStyle" name="description" rows="10" cols="30" >{{experiment_desc}} </textarea><br><br>


							Max Tries : &nbsp  
							<input class="numStyle" type="number" name="points"  min="0" max="10" step="1" value="{{max_tries}}">

							&nbsp &nbsp &nbsp  Wallet : &nbsp  
							<input class="numStyle" type="number" name="wallet" min="0" value="{{starting_wallet}}"><br>

							<input class="shareStyle" type="text" onclick="createLink()" id="shareLink" value="Share Link" name="shareLink">
							<input type="hidden" id="share_link" name="share_link"/>
							<input type="hidden" id="share_token" name="share_token"/>
						</section>

						<section id="rightSideF">

							The SurveyGizmo Code :<br>
							<input class="inpStyle" type="text" name="survaypage" value="{{gizmo_code}}" ><br><br>
							{{/items}} 
							Associate with a Category : <br>
							<select class="inpStyle" name="Categories" id="Categories">
								{{#each categories}}
								<option value="{{category_id}}">{{category_name}}</option>
								{{/each}} 
							</select><br><br>

							Private : &nbsp &nbsp &nbsp&nbsp
                     <section class="onoffswitch">
                        <input type="checkbox" name="PrivateOnOffSwitch" class="onoffswitch-checkbox" id="PrivateOnOffSwitch">
                        <label class="onoffswitch-label" for="PrivateOnOffSwitch">
                           <span class="onoffswitch-inner"></span>
                           <span class="onoffswitch-switch"></span>
                        </label>
                     </section>

                     &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp Show Prices :
                     <section class="onoffswitch">
                        <input type="checkbox" name="PriceOnOffSwitch" class="onoffswitch-checkbox" id="PriceOnOffSwitch">
                        <label class="onoffswitch-label" for="PriceOnOffSwitch">
                           <span class="onoffswitch-inner"></span>
                           <span class="onoffswitch-switch"></span>
                        </label>
                     </section><br><br>

                     Negotiation : 
                     <section class="onoffswitch">
                        <input type="checkbox" name="BidOnOffSwitch" class="onoffswitch-checkbox" id="BidOnOffSwitch">
                        <label class="onoffswitch-label" for="BidOnOffSwitch">
                           <span class="onoffswitch-inner"></span>
                           <span class="onoffswitch-switch"></span>
                        </label>
                     </section>

                     &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp Mininum Price :
                     <section class="onoffswitch">
                        <input type="checkbox" name="MinPriceOnOffSwitch" class="onoffswitch-checkbox" id="MinPriceOnOffSwitch">
                        <label class="onoffswitch-label" for="MinPriceOnOffSwitch">
                           <span class="onoffswitch-inner"></span>
                           <span class="onoffswitch-switch"></span>
                        </label>
                     </section><br><br><br><br>

							<input class="canStyle" type="cancel" value="Cancel"> <br>
							<input class="subStyle" type="submit" value="Submit">

						</section>

						<section id="FlipSide">
							<table id="keywords" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										
										<th><span>Date</span></th>
										<th><span>Subjects</span></th>
										<th><span>Comments</span></th>
										<th><span>Link</span></th>
										<th><span>Export</span></th>
									</tr>
								</thead>
								<tbody>
								
										{{#each iterations}}
											
											<tr>
												
												<td>{{date}}</td>
												<td>{{subjects}}</td>
												<td>{{comment}}</td>
												<td>{{link}}</td>
												<td><a href="/excel?iterationId={{iteration_id}}&tries={{../tries}}">Export</a><br></td>
											</tr>
											
										{{/each}}
								 
								</tbody>
							</table> <br>

													<input class="exportStyle" type="export" value="Export Data">

												</section>	

											</fieldset>
										</form>



									</section>

								</section>


